.all-packs-container {
    /* display: flex;
    justify-content: left;
    align-items: center; */
    width: 80%;
    /* height: 30%; */
    margin: 0 auto;
    /* margin-top: 20px; */
    /* background-color: #e6e6e6; */
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    padding: 20px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.card-container .card {
    flex: 1 1 calc(33.333% - 20px); /* 3 cards per row with spacing */
    box-sizing: border-box;
}

.card h3, p{
    padding-left: 20px;
    padding-top: 10px;
}