.py-6 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }
  
.py-7 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.py-8 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

.py-9 {
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
}

.py-10 {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
}